<header> Insert the data of the note </header>
<form [formGroup]="notaForm">
  <section class="container">
    <div class="row">
      <div class="col">
        <mat-form-field >
          <input
              matInput
              autocomplete="off"
              placeholder="Title"
              formControlName="titulo"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input
              matInput
              autocomplete="off"
              placeholder="Description"
              formControlName="descricao"
          />
        </mat-form-field>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-end">
    <button
      mat-button
      (click)="onCancel();"
      color="secondary"
    >
      CANCEL
    </button>
    <button
        mat-raised-button
        (click)="onSubmit();"
        color="primary"
    >
      SAVE
    </button>
  </div>
</form>
