.full-width {
  width: 100% !important;
}

.main-card {
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
}

h1 {
  color: #666
}

p {
  color: #999
}

.mback {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/wallpaper.png');
  background-position: top;
}